* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }

  .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 16px;
  }

  .btn {
    font-weight: 700;
    display: flex;
    align-items: center;
}

  p {
    font-size: 15px;
  }
  .rounded-pill{
    color: rebeccapurple;
    font-size: 20px;
  }
  .book-now{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
  }
  .icon-box i {
    background: #a8d4e540;
    padding: 12px;
    border-radius: 50%;
    color: #0d6efd; /* optional: icon color */
    transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
  }
  
  .icon-box:hover i {
    background: #a8d4e5be;
    color: #fff; /* optional: icon color on hover */
  }
  
  .list-unstyled a{
    text-decoration: none;
    color: #000;
  }
  .list-unstyled a:hover{
    color: #007bff!important;
  }
  .list-unstyled a:hover{
    color: #007bff!important;
  }
  .cta-section{
    background-image: url(../Img/cta-section-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .inner-cta-section{
    background: #030306b3;
  }





/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.quote-icon-right {
  display: inline-block;
  position: relative; 
  transform: scale(-1, -1);
  font-size: 21px;
  color: #ff5c24;
}
.quote-icon-left {
  display: inline-block;
  position: relative;
  font-size: 21px;
  color: #ff5c24;
}
